body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.carre {
    width: 100px;
    height: 100px;
    background: red;
    margin: 5px;
}

/* .carre:nth-child(3), .carre:last-child {
    background: blue;
} */

.backgroundBlue {
    background: blue;
}

.carre:hover {
    background: violet;
    transform: translateY(4px);
}